*{
    font-family: 'Poppins', sans-serif;
    color:white;
}
body{

    background-color: black;
}
.container{
    height:auto;
    position:relative;
    width:100%;
    font-size: medium;
    font-weight: 600;
}
.image{
    width: 100%;
    height: 300px;
  }
.one{
    position:absolute;
    top :100px;
    left:20px;
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
}
p{
        text-align: center; 
}
*{
    font-family: Poppins;
    color: white;
}

.abe{
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}
/*h1:hover{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}*/