*{font-family: 'Poppins', sans-serif;}

#black{
    background-color: #090909;
}

#squirrelnft{font-size: 24px;
    color: white;
    position: relative;
    left: 30px;
    top: 50px;
    } 

  #emailaddress{font-size: 17px;position: relative;right: -100px;color: white;position: relative;left: 72px;top:15px}
  #text{font-size: 18px; color: white; position: relative; left: 30px;top:30px}

  #horizontal-line1 {
    border-left: 850px solid white; /* width, style, and color of the border */
    border-radius: 10%;
    height: 4px; /* height of the line */
    position: relative;
    bottom: -15px;
    left: 275px;
  }